<div class="page-wrap"> 
  <div class="block-product">
    <div class="block-product_face block-product_front">
      <img ng-src="{{productsPage.img}}" alt="" />
      <div class="block-product_face_content">
        <a href="#/{{$index}}"><span>
          {{productsPage.title}}
        </span></a>
      </div>
    </div>
    <div class="block-product_face block-product_left">
      <div class="block-product_face_content">
        <a href="#/{{$index}}"><span>
          {{productsPage.title}}
        </span> </a>
      </div>
      <ul>
        <li> <a href="#"> Горизонтальное </a></li>
        <li> <a href="#"> вертикальное </a></li>
        <li> <a href="#"> трейсилеры </a></li>
        <li> <a href="#"> термоусадочное </a></li>
        <li> <a href="#"> термоформовочное </a></li>
        <li> <a href="#"> Паллетоупаковщики </a></li>
        <li> <a href="#"> вакуумное </a></li>
        <li> <a href="#"> упаковка на подложку </a></li>
        <li> <a href="#"> клипсаторы </a></li>
        <li> <a href="#"> обвязчики мягкими лентами </a></li>
        <li> <a href="#"> формовщики коробов </a></li>
        <li> <a href="#"> заклейщики коробов скотчем </a></li>
        <li> <a href="#"> весовое	 </a></li>
      </ul>
    </div>
  </div>

  <div class="title-text">
    <h2>{{productsPage.title}}</h2>
  </div>
</div>
